<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <EDAP.Properties.Settings>
            <setting name="ProcName" serializeAs="String">
                <value>EliteDangerous64</value>
            </setting>
            <setting name="x1" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="x2" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="y1" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="y2" serializeAs="String">
                <value>1050</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="keyThrottle0" serializeAs="String">
                <value>KEY_X</value>
            </setting>
            <setting name="keyThrottle50" serializeAs="String">
                <value>KEY_P</value>
            </setting>
            <setting name="keyThrottleReduce25" serializeAs="String">
                <value>KEY_Q</value>
            </setting>
            <setting name="keyThrottle100" serializeAs="String">
                <value>KEY_F</value>
            </setting>
            <setting name="keyBoost" serializeAs="String">
                <value>TAB</value>
            </setting>
            <setting name="keyNextDestination" serializeAs="String">
                <value>KEY_N</value>
            </setting>
            <setting name="keyFire1" serializeAs="String">
                <value>KEY_O</value>
            </setting>
            <setting name="keyHyperspace" serializeAs="String">
                <value>KEY_G</value>
            </setting>
            <setting name="keyNavMenu" serializeAs="String">
                <value>KEY_1</value>
            </setting>
            <setting name="keyRight" serializeAs="String">
                <value>KEY_D</value>
            </setting>
            <setting name="keySelect" serializeAs="String">
                <value>SPACEBAR</value>
            </setting>
            <setting name="keyMenuTabRight" serializeAs="String">
                <value>KEY_E</value>
            </setting>
            <setting name="keyDown" serializeAs="String">
                <value>KEY_S</value>
            </setting>
            <setting name="keySystemMap" serializeAs="String">
                <value>KEY_6</value>
            </setting>
            <setting name="keySysMapScrollRight" serializeAs="String">
                <value>KEY_K</value>
            </setting>
            <setting name="keyScreenshot" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="keyRollLeft" serializeAs="String">
                <value>NUMPAD_7</value>
            </setting>
            <setting name="keyRollRight" serializeAs="String">
                <value>NUMPAD_9</value>
            </setting>
            <setting name="keyPitchUp" serializeAs="String">
                <value>NUMPAD_5</value>
            </setting>
            <setting name="keyPitchDown" serializeAs="String">
                <value>NUMPAD_8</value>
            </setting>
            <setting name="keyYawLeft" serializeAs="String">
                <value>NUMPAD_4</value>
            </setting>
            <setting name="keyYawRight" serializeAs="String">
                <value>NUMPAD_6</value>
            </setting>
            <setting name="scoopWaitSeconds" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="scoopFinishSeconds" serializeAs="String">
                <value>5</value>
            </setting>
        </EDAP.Properties.Settings>
    </applicationSettings>
</configuration>